:root {
  --indentLevel0: #000;
  --indentLevel1: #111;
  --indentLevel2: #222;
  --indentLevel3: #333;
  --indentLevel4: #444;
  --indentLevel5: #555;
  --defaultMargin: 2px;
  --defaultBorderWidth: 2px;
}

.Capsule0 {
  background-color: var(--indentLevel0);
  border: var(--defaultBorderWidth) solid var(--indentLevel5);
  margin: var(--defaultMargin);
}

.Capsule1 {
  background-color: var(--indentLevel1);
  border: var(--defaultBorderWidth) solid var(--indentLevel4);
  margin: var(--defaultMargin);
}

.Capsule2 {
  background-color: var(--indentLevel2);
  border: var(--defaultBorderWidth) solid var(--indentLevel3);
  margin: var(--defaultMargin);
}

.Capsule3 {
  background-color: var(--indentLevel3);
  border: var(--defaultBorderWidth) solid var(--indentLevel2);
  margin: var(--defaultMargin);
}

.Capsule4 {
  background-color: var(--indentLevel4);
  border: var(--defaultBorderWidth) solid var(--indentLevel1);
  margin: var(--defaultMargin);
}

.Capsule5 {
  background-color: var(--indentLevel5);
  border: var(--defaultBorderWidth) solid var(--indentLevel0);
  margin: var(--defaultMargin);
}

.WhiteText {
  color: white;
  /* background-color: #392; */
}

.BlackText {
  color: black;
  /* background-color: #392; */
}

.BasicBox {
  background-color: black;
  height: 100%;
  margin: 0px;
  orientation: portrait;
  flex-direction: row;

  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  max-width: 2000px;
  display: flex;
  flex-direction: column;

}

.FooterText {
  font-size: x-small;
}

.FooterCapsule {
  margin-top: auto;
}

.MiddleCapsule {
  height: 100%;
}

.HeaderCapsule {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.HeaderLogo {
  display: flex;
}

.HeaderLogoText {
  display: flex;
  align-items: center;
}

.HeaderLogoImage {
  aspect-ratio: 1;
  width: 50px;
}

.HeaderButtonsCapsule {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
}

.HeaderButton {
  border-color: #263238;
  width: max-content;
  height: 20px;
  border-radius: 20px;
  border-width: 2px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 5px;
}


/* import { StyleSheet } from 'react';

const style_a = StyleSheet.create({
  index_container: {
    justifyContent: 'center',
    alignItems: 'center',
    flex: 1,
  },
})

const style_b = StyleSheet.create({
  test_switch_names: {
    paddingBottom: 10,
    // justifyContent: 'center',
    // alignItems: 'center',
    // flex: 0,
    // alignSelf: 'flex-start',
  },
  test_white_text: {
    color: 'white',
  }
})


const styles_concat = StyleSheet.create({
  ...style_a,
  ...style_b,
})

const flattened_test_styles = StyleSheet.flatten(styles_concat)
export default flattened_test_styles */